{% extends 'base.html.twig' %}

{% block title %}Hello HotelhouseController!
{% endblock %}

{% block body %}
		<style>
			.carousel {
				background-repeat: no-repeat;
				background-size: 100% 100%;
				text-align: center;
			} 

			.card {
				text-align: center;
			}
		   
			.img-fluid{
				 width: 150px;
                 height: 150px;
                 border-radius: 100px;
	
			}
			.contenaire{
				 display: flex;                  
                 flex-direction: row;            
                 flex-wrap: nowrap;              
                justify-content: space-between;
				margin-top: 50px;
			}
		</style> 

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://th.bing.com/th/id/R.a003c11ca20746362ddfa670b62c7fbc?rik=2Uz8AmzcosnL5A&pid=ImgRaw&r=0" style="width:90%" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg?width=2119&height=1195&fit=crop&format=pjpg&auto=webp" style="width:90%" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.alphacoders.com/439/439191.jpg"  style="width:90%" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


		<div class="accueil row">

		  <div class="d-flex align-items-center justify-content-center">

              <a href="{{ path ('app_main') }}" class="btn btn-primary" style="margin-top: 100px"> HouseHotel | Découvrez nos chambres </a> 
		  </div>
		</div>
		
  
<div class="contenaire">
   <div class="cercle text-center">
	 <img src="https://th.bing.com/th/id/OIP.ma1Loa_tGtAU6mVU6oEKCQHaEP?pid=ImgDet&rs=1" class="img-fluid " alt="...">
		<div class="card-body ">
		  <h5 class="card-text ">Chambre</h5>
		  <p class="card-text">Venez découvrez nos chambres pour votre <br> plus grand confort!</p>
		  <a href="{{ path ('app_main') }}" class="btn btn btn-primary mb-2">Découvrir les chambres</a>
		</div>
	</div>

    <div class="cercle text-center">
	 <img src="https://th.bing.com/th/id/R.1227cb2ad6ef1a5c3096b9a75f71f2bd?rik=kihHYmuOpJuZYQ&pid=ImgRaw&r=0" class="img-fluid " alt="...">
		<div class="card-body ">
		  <h5 class="card-text ">Restaurant</h5>
		  <p class="card-text">Nos plats sont confectionés à la minute par <br> notre chef cuissinier chaque jour</p>
		  <a href="/pdf/SampleRestarentandBarMenu.pdf" class="btn btn btn-primary mb-2">Voire la carte</a>
		</div>
	</div>

	 <div class="cercle text-center">
	 <img src="https://santoriniprincess.com/wp-content/uploads/2019/06/Santorini-Princess194.jpg" class="img-fluid " alt="...">
		<div class="card-body ">
		  <h5 class="card-text ">Spa</h5>
		  <p class="card-text">détondez-vous et offrez-vous un massage <br> dont vous vous rapperez longtemps</p>
		  <a href="{{ path ('app_main') }}" class="btn btn btn-primary mb-2">les soins</a>
		</div>
	</div>

</div>
<div class="contenaire">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10498.560834164598!2d2.2933236365534007!3d48.865070868608136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdd0dd39a4d%3A0x508194b82b12f012!2s1%20Av.%20Montaigne%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1662638377655!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	<iframe src="https://www.google.com/maps/embed?pb=!4v1662639032214!6m8!1m7!1sjralzXqFHF2oZzLZc0n4Vw!2m2!1d48.86498113420127!2d2.302218485429692!3f321.39638453088924!4f4.568681424247529!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
